.home-hero {
  min-height: 80vh;
  /* background-image: linear-gradient(
    rgba(0,0,0,0.45),
    rgba(0,0,0,0.45)
  )
  url("../assets/(get the picture)"); */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-hero-content {
  max-width: 800px;
  padding: 2rem;
}

.home-hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.home-hero-content p {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  color: blue;
}

.home-hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.home-hero-buttons a {
  padding: 0.75rem 1.5rem;
  background-color: white;
  color: #222;
  border-radius: 6px;
  font-weight: 600;
}

.home-hero-buttons a:hover {
  opacity: 0.85;
}
