/*Desktop View */
.home {
  width: 100%;
}

.home-hero {
  min-height: 80vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  padding: 2rem;
  box-sizing: border-box;
}

.home-hero-content {
  max-width: 800px;
  padding: 2rem;
  text-align: center;
}

.home-hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.home-hero-content p {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  color: black;
}

.home-hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.home-hero-buttons a {
  padding: 0.9rem 1.5rem;
  text-decoration: none;
  background-color: white;
  color: #222;
  border-radius: 6px;
  font-weight: 600;
}

.home-hero-buttons a:hover {
  opacity: 0.85;
}

/*Tablet View*/
@media (max-width: 768px) {
  .home-hero {
    min-height: 75vh;
    padding: 3rem 1.25rem;
  }

  .home-hero-content h1 {
    font-size: 2.5rem;
  }

  .home-hero-content p {
    font-size: 1.1rem;
  }

  .home-hero-buttons {
    flex-direction: column;
    width: 100%;
  }

  .home-hero-buttons a {
    width: 100%;
    text-align: center;
  }
}

/*Mobile View */
@media (max-width: 480px) {
  .home-hero {
    min-height: 65vh;
  }

  .home-hero-content h1 {
    font-size: 2rem;
  }

  .home-hero-content p {
    font-size: 2rem;
  }

  .home-hero-buttons {
    flex-direction: column;
    width: 100%;
  }

  .home-hero-buttons a {
    width: 100%;
    box-sizing: border-box;
  }
}
